/*General Stuff For Grid Layout*/
body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template: 100px minmax(0, 1fr) 100px / repeat(12, 1fr);
    min-height: 100vh;
    width: 100%;
    font-family: "Jacques Francois";
    background-color: #f0f9ef;
}
  
  /*Everything for my logo*/
.logo {
    display: grid;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2em;
    top: 10px;
    background: #ffeaec;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    align-content: center;
    font-size: 40px;
    font-family: "Jacques Francois";
}
  
/*Nav Bar*/
  
.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
  
nav {
    background-color: #c0e3f1;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
  
nav > ul {
    list-style-type: none;
    margin: 0;
    padding-right: 3em;
}
  
nav > ul > li {
    display: inline;
    float: right;
    padding: 2em;
    padding-top: 1.5em;
    bottom: 15px;
    position: relative;
    font-size: 30px;
}
  
/*For the hover effect on the nav bar*/
nav > ul > li > a:hover {
    background-position: 0;
}
  
nav > ul > li > a {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #fba5ad, #fba5ad 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
/*Social Bar*/
  
.socials {
    display: grid;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 10;
    justify-items: center;
    grid-row: 3;
}
  
.socials > ul {
    padding: 0;
    border-top: 5px solid #000000;
    list-style-type: none;
}
  
.socials > ul > li {
    float: left;
    position: relative;
    font-size: 5px;
    overflow: scroll;
}
.socials > ul > li > a {
    padding: 3em;
    float: left;
}
  
.socials > ul > li > a > img {
    text-decoration: none;
    height: 10em;
}
  