.contact {
    grid-column-start: 3;
    grid-column-end: 11;
    text-align: center;
}

.title {
    font-size: 100px;
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    padding-top: 0;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 50px;
    font-style: oblique;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.firstName, .lastName{
    float: left;
    padding-right: 2em;
    margin-bottom: 10px;
}

.org {
    float: left;
    margin-bottom: 10px;
}

.email, .phone {
    float: left;
    padding-right: 4.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
}
input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    background: #FFEAEC;

}
  
  button[type="submit"] {
    background-color: #C0E3F1;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: right;
    margin: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #9BCBDE;
  }

  ::-webkit-input-placeholder {
    font-family: 'Jacques Francois';
    color: #999;
 }