body {
	margin: 0;
	padding: 0;
}

.splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFEAEC;
	align-items: center;
    display: grid;
	justify-content: center;
}

/*Image*/
.loader {
	width: 250px;
	height: 200px;
    justify-self: center;
	animation: spin 2s linear infinite;
}

/*Spinning animation*/
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}