/*Grid format*/
.projects {
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    display: grid;
}
  
/*Intro to the content*/
.title {
    font-size: 100px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
  
.subtitle {
    font-size: 25px;
    font-style: oblique;
}
  
/*Formatting everything*/
.projectsList > li {
    display: inline-block;
    margin-top: 15px;
    list-style: none;
}
  
.avandra,
.devitia,
.porter {
    border: 1px solid black;
    text-align: left;
    background-color: #fdf5da;
    float: left;
    margin-right: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  
.avandra > img,
.devitia > img,
.porter > img {
    height: 150px;
    width: 150px;
    vertical-align: middle;
}
  
.avandraText,
.devitiaText,
.porterText {
    margin-top: 0;
    text-align: left;
    font-size: 18px;
}
  
.avandraInfo > li,
.devitiaInfo > li,
.porterInfo > li {
    display: grid;
}
  
.avandraTitle {
    height: 46px;
    float: left;
}
  
.porterTitle {
    height: 60px;
    float: left;
    margin-left: -20px;
}

.avandraSlogan,
.devitiaSlogan,
.porterSlogan {
    text-align: left;
    margin: 5px;
}
  
.devitiaTitle {
    width: 200px;
    float: left;
}
  